@mixin botao{
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
    border: none;
    font-size: 1.5em;
}

.botao{
    @include botao;
    background: greenyellow;
    color: white;
}

.botao-danger{
    @include botao;
    background: #2d8285;
    color: white;    
}